{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-md btn-primary" formnovalidate>{{ button_label|default('Save') }}</button>
    <a href="{{ path('user_index') }}" class="btn btn-md btn-default">Back to list</a>
{{ form_end(form) }}